@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format('truetype'),
    url('./assets/fonts/inter/OFL.txt') format('woff')
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  padding: 16px;
  min-height: 100vh;
}

main.error {
  background: var(--color-container-border-success-dark, #561010);
}

main.info {
  background: var(--color-container-border-information-dark, #103856);
}

main.success {
  background: var(--color-container-border-success-dark, #155118);
}

header {
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .wrapper {
  height: 100%;
}

header .wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .highlight-header {
  color: var(--primary-600, #0064D1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.7px;

  border-radius: 4px;
  background: var(--color-container-background-primary-extraLight, #B9DBFF);
  padding: 2px 8px;
  margin: 32px auto;
}


.container .cross-box-wrapper {
  margin: 0 auto;
  width: 254px;
  height: 254px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container.cross-box-wrapper .cross img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container .cross-box-wrapper .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  ;
}

.container .cross-box-wrapper .frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.container .description {
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--color-text-secondary-extraDark, #171E26);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.container .description.negative {
  color: #D5DDE5
}

.container .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container .buttons .primary {
  width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  background: var(--color-container-background-primary-default, #007AFF);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px #007AFF;

  color: var(--color-text-inverse, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  margin-bottom: 16px;
  text-align: center;
}

.container .buttons .secondary {
  width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  background: var(--color-container-background-inverse, #FFF);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(70, 83, 96, 0.16);

  color: var(--color-text-secondary-dark, #465360);

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  text-align: center;
}


.container .committee-details {
  margin: 100px auto;
}

.container .committee-details .name {
  color: var(--Gray-900, #101828);
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.56px;
}

.container .committee-details .label {
  margin-top: 6px;
  color: var(--Gray-500, #667085);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.9px;
}

.qr-reader {
  width: 254px;
  height: 254px;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  position: relative;


  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-reader video {
  width: 88%;
  height: 88%;
  object-fit: cover;
  border-radius: 14px;
  overflow: hidden;
}

.qr-reader .qr-box {
  width: 100% !important;
  left: 0 !important;
  height: 100% !important;
  position: relative;
}

.qr-box.scan-region-highlight {
  height: 0px !important;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-20%);
  width: 100%;
  aspect-ratio: 1;
  /* height: 100%; */
  max-width: 400px;
  max-height: 400px;
}

.login-container {
  background-color: white;
  color: var(--color-text-secondary-extraDark, #171E26);
}

/* .container h1 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.48px;
} */


.station-name-footer {
  position: fixed;
  bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.station-name-footer p {
  border-radius: 4px;
  background: var(--color-container-background-primary-extraLight, #B9DBFF);
  padding: 2px 8px;

  color: var(--primary-600, #0064D1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.8px;
}


.station-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.station-name p {
  border-radius: 4px;
  background: var(--color-container-background-primary-extraLight, #B9DBFF);
  padding: 2px 8px;

  color: var(--primary-600, #0064D1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.8px;
}



.failed-container {
  color: #D7F4D8 !important;
}

.failed-container.error-container {
  background: var(--color-container-border-success-dark, #561010);
}

.failed-container.info-container {
  background: var(--color-container-border-information-dark, #103856);
}